<%= form_for [@job, Comment.new], remote: true, html: { :id => "new_comments" } do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit "Send" %>
    </div>
<% end %>

