<!DOCTYPE html>
<html>
<head>
  <title>Job Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_company %>
    <%=current_company.name %>
<% else %>
    <%= link_to "Login", companies_login_path %>
    <%= link_to "Create Account", new_company_path %>
<% end %>

<div class="container">
  <% if notice %><p id="notice"><%= notice %></p><% end %>
  <% if alert %><p id="alert"><%= alert %></p><% end %>
</div>

<%= yield %>

</body>
</html>
